---
//Import types
import type { ChooseAnswerProps, GradeExerciseParams } from "@types";

import ExercisesCard from "@components/ui/ExercisesCard.astro";
import ExerciseButton from "@components/ui/ExerciseButton.astro";
import Button from "@components/ui/Button.astro";
import Feedback from "@components/ui/Feedback.astro";
import ArrowRedoRight from "@assets/icons/arrow-redo-right.svg";

import { createGridAttrs } from "@utils/helpers/commons";

const { inciso, exerciseText, answer } = Astro.props as ChooseAnswerProps;
const { grade, exercise } = Astro.params as unknown as GradeExerciseParams;

const gridAttrs = createGridAttrs(grade, exercise, inciso);
---

<ExercisesCard id="grid-item" {...gridAttrs}>
  <p><strong>{inciso}) <span set:html={exerciseText} /></strong></p>

  <!-- Answer options -->
  <ExerciseButton
    buttonClass="option-btn"
    dataValidation={answer[0].validation}
  >
    <span set:html={answer[0].text} />
  </ExerciseButton>

  <ExerciseButton
    buttonClass="option-btn"
    dataValidation={answer[1].validation}
  >
    <span set:html={answer[1].text} />
  </ExerciseButton>

  <ExerciseButton
    buttonClass="option-btn"
    dataValidation={answer[2].validation}
  >
    <span set:html={answer[2].text} />
  </ExerciseButton>

  <!-- Feedback space -->
  <Feedback />

  <!-- Button to reset the exercise -->
  <Button buttonType="primary" id="retryButton" style="display: none">
    <div>
      <ArrowRedoRight class="svg" />
      <span>Intentarlo de nuevo</span>
    </div>
  </Button>
</ExercisesCard>

<script src="@utils/scriptChooseAnswer.ts"></script>

<style>
  #retryButton > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
</style>
