---
//Import types
import type { FillBlankProps, GradeExerciseParams } from "@types";

import ExercisesCard from "@components/ui/ExercisesCard.astro";
import Button from "@components/ui/Button.astro";
import Feedback from "@components/ui/Feedback.astro";

import { createGridAttrs } from "@utils/helpers/commons";

const { inciso, sentence, options } = Astro.props as FillBlankProps;
const { grade, exercise } = Astro.params as unknown as GradeExerciseParams;

const gridAttrs = createGridAttrs(grade, exercise, inciso);
---

<ExercisesCard id="grid-item" {...gridAttrs}>
  <div id="sentence" class="sentence">
    <span>{inciso}) </span>
    {
      sentence.map((words) => {
        return words.startsWith("blank") ? (
          <span class="blank" data-id={words} />
        ) : (
          <span set:html={words} />
        );
      })
    }
  </div>
  <div id="options" class="options">
    {
      options.map((option) => {
        return (
          <div
            id={`option-${option.id}`}
            class="option"
            draggable="true"
            data-id={option.id}
            data-position={option.position}
          >
            <span set:html={option.text} />
          </div>
        );
      })
    }
  </div>

  <Button buttonType="primary" id="checkAnswers">Comprobar Respuestas</Button>
  <Feedback />
</ExercisesCard>

<script src="@utils/scriptFillTheBlanks.ts"></script>

<style>
  .sentence {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    flex: 1;
  }

  .blank {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100px;
    height: 2rem;
    border: 2px dashed #999;
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
    vertical-align: middle;
  }

  .blank.correct {
    border-color: #4caf50;
    background-color: #e8f5e9;
  }

  .blank.incorrect {
    border-color: #f44336;
    background-color: #ffebee;
  }

  .options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    min-height: 40px;
    padding: 10px;
    width: 100%;
  }

  .option {
    flex: 1 1 calc(33.333% - 20px);
    text-align: center;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 5px;
    cursor: grab;
    user-select: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  :global(.fill-the-blanks-icon) {
    margin: auto 0;
    margin-left: 15px;
  }

  @media (max-width: 768px) {
    .option {
      padding: 30px;
    }
  }
</style>
