---
import Layout from "@layouts/Layout.astro";
import { topics } from "@data/topics";
import ChooseAnswer from "@components/exercisesComponents/ChooseAnswer.astro";
import TrueFalse from "@components/exercisesComponents/TrueFalse.astro";
import Pencil from "@components/icons/Pencil.astro";
import Problem from "@components/exercisesComponents/Problem.astro";
import Matching from "@components/exercisesComponents/Matching.astro";
import FillBlanks from "@components/exercisesComponents/FillBlank.astro";
import { shuffle } from "@utils/shuffleArray";

interface ExerciseChooseAnswer {
  id: string;
  type: string;
  title: string;
  img?: string;
  texto: string;
  incisos?: Array<{
    id: string;
    exercise: string;
    answer: Array<Answer>;
  }>;
}

interface Answer {
  text: string;
  validation: "correct" | "incorrect";
}

interface ExerciseTrueFalse {
  id: string;
  type: string;
  title: string;
  img?: string;
  texto: string;
  incisos?: Array<{
    id: string;
    exercise: string;
    validation: "correct" | "incorrect";
  }>;
}

interface ExerciseProblem {
  id: string;
  type: string;
  title: string;
  img?: string;
  texto: string;
  incisos?: Array<{
    id: string;
    exercise: string;
    answer: string;
  }>;
}

interface ExerciseMatching {
  id: string;
  type: string;
  img?: string;
  title: string;
  texto: string;
  incisos?: Array<{
    text: string;
    pairId: number;
  }>;
}

interface ExerciseFillBlank {
  id: string;
  type: string;
  title: string;
  img?: string;
  texto: string;
  incisos: Array<{
    id: string;
    sentence: Array<string>;
    options: Array<{
      id: string;
      text: string;
      position: string;
    }>;
  }>;
}

type Exercise =
  | ExerciseChooseAnswer
  | ExerciseTrueFalse
  | ExerciseProblem
  | ExerciseMatching
  | ExerciseFillBlank;

// Define la función getStaticPaths
export function getStaticPaths() {
  const paths: Array<{ params: { grade: string; exercise: string } }> = [];

  // Genera rutas dinámicas basadas en los datos disponibles
  const grades: string[] = ["7mo", "8vo", "9no", "10mo", "11no", "12mo"];
  grades.forEach((grade) => {
    topics.forEach((topic) => {
      if (topic.title === grade) {
        topic.exercises.forEach((exercise) => {
          paths.push({ params: { grade, exercise: exercise.id } });
        });
      }
    });
  });

  return paths;
}

const { grade, exercise } = Astro.params || {};

if (!grade || !exercise) {
  throw new Error("Los parámetros de la ruta son inválidos o no existen.");
}

// Busca el ejercicio actual
const currentExercise = topics
  .find((topic) => topic.title === grade)
  ?.exercises.find((ex) => ex.id === exercise) as Exercise | undefined;

if (!currentExercise) {
  Astro.redirect("/404");
}

let shuffledIncisos: Array<{ text: string; pairId: number }> = [];
if (currentExercise?.type === "Matching") {
  shuffledIncisos = currentExercise?.incisos
    ? (shuffle(currentExercise.incisos) as { text: string; pairId: number }[])
    : [];
}
const length = currentExercise?.incisos?.length ?? 0;
---

<Layout title={`Grado ${grade} | Ejercicio ${exercise}`}>
  <section class="exercises">
    <h2 class="h2-exercises">
      <Pencil class="svg" />
      <span>{grade} Grado | Ejercicio No. {exercise}</span>
    </h2>
    <p set:html={currentExercise?.texto} />

    <!-- Excercise Image -->
    <div class="image-container">
      <div class="legend">
        <span
          ><img
            src="/icons/ex-figure-book.svg"
            alt="book-figure"
            class="ex-svg"
          /> Figura del ejercicio</span
        >
      </div>
      {
        currentExercise?.img && (
          <img
            class="img-exercises"
            src={`/img/exercises/${grade}-${exercise}.webp`}
            alt="Imagen del ejercicio"
          />
        )
      }
    </div>

    <!--Video button -->
    <div class="exercises-video-container">
      <p>Si tienes alguna duda, mira la clase</p>
      <a
        class="span-exercises-video"
        href={`/videos/${currentExercise?.title}`}
      >
        <img src="/icons/ex-video.svg" alt="" /> Ver videoclase sobre <span
          >{currentExercise?.title}</span
        ></a
      >
    </div>

    <!-- Sección de ejercicios -->
    <div class="grid-container">
      {
        currentExercise?.type === "ChooseAnswer" &&
          currentExercise?.incisos
            ?.filter(
              (
                inciso,
              ): inciso is {
                id: string;
                exercise: string;
                answer: Answer[];
              } => "answer" in inciso,
            )
            .map((inciso) => {
              return (
                <ChooseAnswer
                  inciso={inciso["id"]}
                  exerciseText={inciso["exercise"]}
                  answer={inciso["answer"]}
                />
              );
            })
      }

      {
        currentExercise?.type === "TrueFalse" &&
          currentExercise?.incisos?.map((inciso) => {
            if (!inciso) return null;
            return (
              <TrueFalse
                inciso={"id" in inciso ? inciso.id : ""}
                exerciseText={"exercise" in inciso ? inciso.exercise : ""}
                validation={"validation" in inciso ? inciso.validation : ""}
              />
            );
          })
      }

      {
        currentExercise?.type === "Problem" &&
          currentExercise?.incisos?.map((inciso) => {
            if (!inciso) return null;
            return (
              <Problem
                inciso={"id" in inciso ? inciso.id : ""}
                exerciseText={"exercise" in inciso ? inciso.exercise : ""}
                answer={"answer" in inciso ? inciso.answer : ""}
              />
            );
          })
      }

      {
        currentExercise?.type === "Matching" &&
          shuffledIncisos?.map((inciso) => {
            if (!inciso) return null;
            return "text" in inciso ? (
              <Matching
                text={inciso.text}
                pairId={inciso.pairId}
                length={length}
              />
            ) : null;
          })
      }

      {
        currentExercise?.type === "FillBlank" &&
          currentExercise.incisos?.map((inciso) => {
            return (
              <FillBlanks
                inciso={"id" in inciso ? inciso.id : ""}
                sentence={"sentence" in inciso ? inciso.sentence : []}
                options={"options" in inciso ? inciso.options : []}
              />
            );
          })
      }

      {currentExercise?.type === "" && "Ejercicio por añadir"}
    </div>
  </section>

  <style>
    .svg {
      color: var(--secondary-color-light-2);
    }

    .exercises {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-block: 4rem;
    }
    .h2-exercises {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.5rem;
      color: var(--dark-grey);
    }

    .image-container {
      max-width: 400px;
      margin-block: 1rem;
      border-radius: 10px 10px 0 0;
      overflow: clip;
    }

    .legend {
      padding: 1rem;
      background-color: var(--primary-color-dark);
    }

    .legend span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
      color: var(--primary-color-light-3);
    }

    .img-exercises {
      max-width: 100%;
      height: auto;
      background-color: var(--primary-color-light-3);
      padding: 3rem;
    }

    .exercises-video-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 1rem;
      padding: 1rem;
      background-color: var(--secondary-color-light-1);
      border-radius: 10px;
    }

    .exercises-video-container p {
      color: var(--secondary-color-light-3);
      font-size: 1rem;
      font-weight: 700;
    }

    .span-exercises-video {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--secondary-color-light-1);
      cursor: pointer;
      transition: opacity 0.3s ease;
      padding: 0.8rem 1.2rem;
      background-color: white;
      border-radius: 10px;
      font-weight: 600;
    }

    .span-exercises-video span {
      text-transform: uppercase;
    }

    .span-exercises-video:hover {
      opacity: 0.95;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      gap: 1.5rem;
      margin-top: 2rem;
    }

    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: 1fr;
      }
    }
  </style>
</Layout>
