---
import Layout from "@layouts/Layout.astro";
import AccordionExercises from "@components/AccordionExercises.astro";
import { topics } from "@data/topics";

export const prerender = true;

export function getStaticPaths(): Array<Object> {
  return [
    { params: { grade: "7mo" } },
    { params: { grade: "8vo" } },
    { params: { grade: "9no" } },
    { params: { grade: "10mo" } },
    { params: { grade: "11no" } },
    { params: { grade: "12mo" } },
  ];
}

const { grade } = Astro.params;

// Obtain the current topic
const currentTopic = topics.find((topic) => topic.title === grade);
// Create a set of exercise titles to build the accordion
const currentTopicExercisesTitles = new Set(
  currentTopic?.exercises.map((exercise) => exercise.title),
);
// Convert the set to an array
const titlesArray = Array.from(currentTopicExercisesTitles);
---

<Layout title={`Grado ${grade}`}>
  <section>
    <h2>Ejercicios de {grade} grado</h2>

    <div class="section-container">
      {
        topics
          .filter((topic) => topic.title === grade)
          .map((topic) => {
            return (
              <>
                <figure>
                  <img
                    src={topic.img}
                    alt={grade}
                    transition:name={`image ${grade} id`}
                  />
                </figure>
                <div class="exercises-container">
                  <div class="accordion">
                    {titlesArray.map((title, index) => (
                      <AccordionExercises
                        grade={grade}
                        exerciseTitle={title}
                        currentTopic={currentTopic}
                        isOdd={index % 2 === 0}
                      />
                    ))}
                  </div>
                </div>
              </>
            );
          })
      }
    </div>
  </section>
</Layout>

<style>
  section {
    margin-top: 3rem;
    padding: 2rem 4rem;
    background-color: var(--light-grey);
    border-radius: 15px;
  }

  h2 {
    margin-left: 2rem;
    color: var(--dark-grey);
  }

  .section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding-block: 2rem;
  }

  .section-container figure {
    align-self: flex-start;
  }

  p {
    padding: 1rem 0.5rem;
  }

  @media (max-width: 768px) {
    .section-container {
      display: block;
      padding-block: 1rem;
    }
    h2 {
      text-align: center;
      margin: 0;
    }
  }
</style>
